$wrapper-border-radius: 15px;

.image-wrapper {
  width: 100%;
}

html,
body,
.row.bg {
  height: 100vh;
}

.content-wrapper {
  height: 85%;
  border-radius: $wrapper-border-radius;
  border: 1px solid lightgrey;
  font-family: "BRoya";
}

.logo-mobile {
  margin: 0 auto;
  display: block;
}

.row.wrapper {
  height: 100%;
}

.row.wrapper > .col-6:first-child {
  background-image: url("/kate-hliznitsova-HQUOFc4tXH0-unsplash.jpg");
  background-size: cover;
  height: 100%;
  border-top-right-radius: $wrapper-border-radius;
  border-bottom-right-radius: $wrapper-border-radius;
  background-position: center center;
}

.nav-tabs {
  width: 100%;
}

.form {
  text-align: right;
  margin: 0 auto;

  label {
    font-size: large;
  }
}

.btn.btn-primary {
  font-size: large;

  > .spinner-border {
    font-size: smaller;
    vertical-align: sub;
    margin: {
      left: 5px;
      right: 5px;
    }
  }
}

.btn.btn-primary > .spinner-border {
  vertical-align: sub;
}
