@font-face {
  font-family: "BMitra";
  src: url("/fonts/Mitra/BMitra.eot");
  src: url("/fonts/Mitra/BMitra.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Mitra/BMitra.woff") format("woff"),
    url("/fonts/Mitra/BMitra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMitraBold";
  src: url("/fonts/Mitra/BMitraBold.eot");
  src: url("/fonts/Mitra/BMitraBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Mitra/BMitraBold.woff") format("woff"),
    url("/fonts/Mitra/BMitraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BRoya";
  src: url("/fonts/Roya/BRoya.eot");
  src: url("/fonts/Roya/BRoya.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Roya/BRoya.woff") format("woff"),
    url("/fonts/Roya/BRoya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BTabassom";
  src: url("/fonts/Tabassom/BTabassom.eot");
  src: url("/fonts/Tabassom/BTabassom.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Tabassom/BTabassom.woff") format("woff"),
    url("/fonts/Tabassom/BTabassom.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BTitr";
  src: url("/fonts/Titr/BTitr.eot");
  src: url("/fonts/Titr/BTitr.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Titr/BTitr.woff") format("woff"),
    url("/fonts/Titr/BTitr.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BTitrTGE";
  src: url("/fonts/Titr/BTitrTGE.eot");
  src: url("/fonts/Titr/BTitrTGE.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Titr/BTitrTGE.woff") format("woff"),
    url("/fonts/Titr/BTitrTGE.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yekan";
  src: url("/fonts/Yekan/Yekan.eot?-wwn5ej");
  src: url("/fonts/Yekan/Yekan.eot?#iefix-wwn5ej") format("embedded-opentype"),
    url("/fonts/Yekan/Yekan.woff?-wwn5ej") format("woff"),
    url("/fonts/Yekan/Yekan.ttf?-wwn5ej") format("truetype"),
    url("/fonts/Yekan/Yekan.svg?-wwn5ej#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
